**SA463A &#x25aa; Data Wrangling and Visualization &#x25aa; Fall 2021 &#x25aa; Uhan**

# Lesson 14. Sorting Rows and Selecting Columns in Pandas

## In this lesson...

- How do we sort the rows of a DataFrame?


- How do we select columns from a DataFrame?
    - For that matter, how do we drop columns? Rename columns?


- Data wrangling by method chaining

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Setup

- Let's start by importing Pandas

In [1]:
import pandas as pd

* We'll use the nycflights13 dataset that we used in the previous lesson


* This dataset is located in `data/nycflights13_flights.csv.zip` in the same folder as this notebook:

In [2]:
df = pd.read_csv('data/nycflights13_flights.csv.zip')

* Just to remind ourselves what this dataset looks like:

In [3]:
df.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Sorting rows

- We can sort the rows of a DataFrame with the `.sort_values()` method


- For example, let's sort the flights of the nycflights13 dataset according to their time in the air:

In [4]:
# Solution
df.sort_values('air_time')

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
176604,2013,4,13,537.0,527,10.0,622.0,628,-6.0,EV,4631,N12167,EWR,BDL,20.0,116,5,27,2013-04-13T09:00:00Z
13524,2013,1,16,1355.0,1315,40.0,1442.0,1411,31.0,EV,4368,N16911,EWR,BDL,20.0,116,13,15,2013-01-16T18:00:00Z
296418,2013,8,18,1129.0,1138,-9.0,1206.0,1234,-28.0,EV,4577,N18101,EWR,BDL,21.0,116,11,38,2013-08-18T15:00:00Z
113682,2013,2,3,2153.0,2129,24.0,2247.0,2224,23.0,EV,4619,N13913,EWR,PHL,21.0,80,21,29,2013-02-04T02:00:00Z
121615,2013,2,12,2123.0,2130,-7.0,2211.0,2225,-14.0,EV,4619,N12921,EWR,PHL,21.0,80,21,30,2013-02-13T02:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

- Note that the `.sort_values()` method returns a new DataFrame


- By default, `.sort_values()` sorts the rows in ascending order


- We can specify the sort order with the `ascending=...` keyword argument, like this:

In [5]:
# Solution
df.sort_values('air_time', ascending=False)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
151467,2013,3,17,1337.0,1335,2.0,1937.0,1836,61.0,UA,15,N77066,EWR,HNL,695.0,4963,13,35,2013-03-17T17:00:00Z
115752,2013,2,6,853.0,900,-7.0,1542.0,1540,2.0,HA,51,N389HA,JFK,HNL,691.0,4983,9,0,2013-02-06T14:00:00Z
149618,2013,3,15,1001.0,1000,1.0,1551.0,1530,21.0,HA,51,N388HA,JFK,HNL,686.0,4983,10,0,2013-03-15T14:00:00Z
151311,2013,3,17,1006.0,1000,6.0,1607.0,1530,37.0,HA,51,N380HA,JFK,HNL,686.0,4983,10,0,2013-03-17T14:00:00Z
150547,2013,3,16,1001.0,1000,1.0,1544.0,1530,14.0,HA,51,N384HA,JFK,HNL,683.0,4983,10,0,2013-03-16T14:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

- Note that the missing values (`NaN`) are always sorted at the end, regardless of the sort order


- We can also provide `.sort_values()` with a *list* of column names: each additional column will be used to break ties between the values of preceding columns


- For example, we can sort the rows by carrier and flight number, and then by year, month and day:

In [6]:
# Solution
df.sort_values(['carrier', 'flight', 'year', 'month', 'day'])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
58087,2013,11,3,1531.0,1540,-9.0,1653.0,1725,-32.0,9E,2900,N600LR,JFK,BNA,113.0,765,15,40,2013-11-03T20:00:00Z
59070,2013,11,4,1539.0,1540,-1.0,1712.0,1725,-13.0,9E,2900,N903XJ,JFK,BNA,117.0,765,15,40,2013-11-04T20:00:00Z
60051,2013,11,5,1548.0,1540,8.0,1708.0,1725,-17.0,9E,2900,N602LR,JFK,BNA,120.0,765,15,40,2013-11-05T20:00:00Z
61005,2013,11,6,1535.0,1540,-5.0,1657.0,1725,-28.0,9E,2900,N928XJ,JFK,BNA,118.0,765,15,40,2013-11-06T20:00:00Z
61962,2013,11,7,1549.0,1540,9.0,1733.0,1725,8.0,9E,2900,N914XJ,JFK,BNA,131.0,765,15,40,2013-11-07T20:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207997,2013,5,16,1601.0,1603,-2.0,1730.0,1730,0.0,YV,3791,N502MJ,LGA,IAD,47.0,229,16,3,2013-05-16T20:00:00Z
209006,2013,5,17,1616.0,1603,13.0,1751.0,1730,21.0,YV,3791,N512MJ,LGA,IAD,44.0,229,16,3,2013-05-17T20:00:00Z
211689,2013,5,20,1704.0,1603,61.0,1827.0,1730,57.0,YV,3791,N510MJ,LGA,IAD,43.0,229,16,3,2013-05-20T20:00:00Z
212632,2013,5,21,1647.0,1603,44.0,1752.0,1730,22.0,YV,3791,N518LR,LGA,IAD,42.0,229,16,3,2013-05-21T20:00:00Z
78484,2013,11,25,1258.0,1010,168.0,1415.0,1129,166.0,YV,3799,N511MJ,LGA,IAD,44.0,229,10,10,2013-11-25T15:00:00Z

- We can also specify a sort order for specific columns by passing a list to the `ascending=...` keyword argument, like this:

In [7]:
# Solution
df.sort_values(
    ['carrier', 'flight', 'year', 'month', 'day'],
    ascending=[False, True, True, True, False]
)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
198722,2013,5,6,1749.0,1740,9.0,1939.0,1943,-4.0,YV,2625,N922FJ,LGA,CLT,77.0,544,17,40,2013-05-06T21:00:00Z
279236,2013,7,31,1125.0,1136,-11.0,1305.0,1338,-33.0,YV,2651,N927LR,LGA,CLT,79.0,544,11,36,2013-07-31T15:00:00Z
278254,2013,7,30,1150.0,1136,14.0,1337.0,1338,-1.0,YV,2651,N906FJ,LGA,CLT,80.0,544,11,36,2013-07-30T15:00:00Z
277231,2013,7,29,1134.0,1136,-2.0,1353.0,1338,15.0,YV,2651,N907FJ,LGA,CLT,87.0,544,11,36,2013-07-29T15:00:00Z
276283,2013,7,28,1131.0,1136,-5.0,1351.0,1338,13.0,YV,2651,N925FJ,LGA,CLT,88.0,544,11,36,2013-07-28T15:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167558,2013,4,3,1445.0,1450,-5.0,1618.0,1627,-9.0,9E,4357,N8836A,JFK,ORF,55.0,290,14,50,2013-04-03T18:00:00Z
166563,2013,4,2,1441.0,1450,-9.0,1615.0,1627,-12.0,9E,4357,N8745B,JFK,ORF,53.0,290,14,50,2013-04-02T18:00:00Z
165577,2013,4,1,1445.0,1450,-5.0,1631.0,1627,4.0,9E,4357,N8532G,JFK,ORF,56.0,290,14,50,2013-04-01T18:00:00Z
195577,2013,5,3,854.0,900,-6.0,1141.0,1126,15.0,9E,4362,N170PQ,EWR,ATL,117.0,746,9,0,2013-05-03T13:00:00Z
194600,2013,5,2,854.0,900,-6.0,1121.0,1126,-5.0,9E,4362,N232PQ,EWR,ATL,109.0,746,9,0,2013-05-02T13:00:00Z

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Selecting  columns

- Sometimes, it's useful to be able to select columns so that we can focus on a particular part of the dataset


- To select multiple columns from `df` and put them into a new DataFrame, we can use Python dictionary notation, with a *list* as the key


- For example, we can create a *new* DataFrame with only the flight numbers and date information, like this:

In [8]:
# Solution
df[['carrier', 'flight', 'year', 'month', 'day']]

       carrier  flight  year  month  day
0           UA    1545  2013      1    1
1           UA    1714  2013      1    1
2           AA    1141  2013      1    1
3           B6     725  2013      1    1
4           DL     461  2013      1    1
...        ...     ...   ...    ...  ...
336771      9E    3393  2013      9   30
336772      9E    3525  2013      9   30
336773      MQ    3461  2013      9   30
336774      MQ    3572  2013      9   30
336775      MQ    3531  2013      9   30

[336776 rows x 5 columns]

- Note that the columns are reordered according to the order given in the list used as a key


- Sometimes a DataFrame's column names have a particular structure that we might want to exploit


- For example, several of the columns in `df` start with `dep_` or `arr_`


- The DataFrame attribute `df.columns` contains all the column names of `df`:

In [9]:
df.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

- Recall that `.startswith()` is a Python built-in string method 
    - `s.startswith(prefix)` returns `True` if the string `s` starts with `prefix`, and `False` otherwise


- We can create a new DataFrame with only those columns that start with `dep_` or `arr_` by creating a list of these column names first:

In [10]:
# Solution
wanted_cols = []
for c in df.columns:
    if c.startswith('dep_') or c.startswith('arr_'):
        wanted_cols.append(c)
        
df[wanted_cols]

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

- We can be 😎 and use a list comprehension instead, requiring only 1 line of code:

In [11]:
# Solution
df[[c for c in df.columns if c.startswith('dep_') or c.startswith('arr_')]]

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Dropping columns

- We might find it easier to drop columns instead of selecting them


- We can do this with the `.drop()` DataFrame method


- For example, we can drop the `time_hour` variable from `df` like this:

In [12]:
# Solution
df.drop(columns=['time_hour'])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40

- Don't forget the `columns=...` keyword!


- Similar to the other DataFrame methods we've learned about so far, `.drop()` also returns a new DataFrame


- We can drop multiple columns simultaneously in a similar fashion


- For example, let's drop the scheduled departure and arrival times from `df`:

In [13]:
# Solution
df.drop(columns=['sched_dep_time', 'sched_arr_time'])

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,2.0,830.0,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,4.0,850.0,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,2.0,923.0,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,NaN,NaN,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,NaN,NaN,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,NaN,NaN,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Renaming columns

- Sometimes, we may want to rename columns to facilitate easier wrangling or analysis


- For example, we might have two datasets from different sources that contain the same kind of data, but in differently named columns


- We can use the `.rename()` DataFrame method to do this


- For example, let's rename `carrier` to `airline` and `flight` to `flight_no`:

In [14]:
# Solution
df.rename(
    columns={'carrier': 'airline',
             'flight': 'flight_no'}
)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,flight_no,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

- Like with `.drop()`, don't forget the `columns=...` keyword!


- The `columns=...` keyword argument is a *dictionary* that maps old column names to new column names 


- Again, note that `.rename()` returns a new DataFrame

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Data wrangling by method chaining

- Why is it significant that these methods we've learned about so far return new DataFrames?


- Since these methods act on DataFrames and return DataFrames, we can use **method chaining**
    - We learned about method chaining at the beginning of the semester
    - We also used method chaining extensively with Altair


- Suppose we want to take the nycflights13 dataset and:
    1. Keep only the flights on September 1 on United Airlines
    2. Keep only the year, month, day, carrier, flight, origin, and destination columns
    3. Sort the resulting data by flight number, in descending order


- We could do each step individually, using auxiliary variables to store our intermediate steps:

In [15]:
df2 = df.query('(month == 9) and (day == 1) and (carrier == "UA")')
df3 = df2[['year', 'month', 'day', 'carrier', 'flight', 'origin', 'dest']]
df4 = df3.sort_values('flight', ascending=False)

df4

        year  month  day carrier  flight origin dest
309324  2013      9    1      UA    1735    EWR  LAX
309862  2013      9    1      UA    1730    EWR  FLL
309843  2013      9    1      UA    1703    EWR  BOS
309561  2013      9    1      UA    1695    EWR  IAH
309510  2013      9    1      UA    1693    EWR  MCO
...      ...    ...  ...     ...     ...    ...  ...
309844  2013      9    1      UA     208    EWR  SAN
309589  2013      9    1      UA     207    EWR  ORD
309370  2013      9    1      UA     205    EWR  SFO
309503  2013      9    1      UA     204    EWR  SFO
309519  2013      9    1      UA      15    EWR  HNL

[119 rows x 7 columns]

- Or, we can write a method chain to do this:

In [16]:
# Solution
(
    df
    .query('(month == 9) and (day == 1) and (carrier == "UA")')
    [['year', 'month', 'day', 'carrier', 'flight', 'origin', 'dest']]
    .sort_values('flight', ascending=False)
)

        year  month  day carrier  flight origin dest
309324  2013      9    1      UA    1735    EWR  LAX
309862  2013      9    1      UA    1730    EWR  FLL
309843  2013      9    1      UA    1703    EWR  BOS
309561  2013      9    1      UA    1695    EWR  IAH
309510  2013      9    1      UA    1693    EWR  MCO
...      ...    ...  ...     ...     ...    ...  ...
309844  2013      9    1      UA     208    EWR  SAN
309589  2013      9    1      UA     207    EWR  ORD
309370  2013      9    1      UA     205    EWR  SFO
309503  2013      9    1      UA     204    EWR  SFO
309519  2013      9    1      UA      15    EWR  HNL

[119 rows x 7 columns]

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Problems

For the problems below, use the nycflights13 dataset we used in this lesson.

### Problem 1

Find the most delayed flights. Find the flights that left the earliest.

In [17]:
# Solution 1
df.sort_values('dep_delay', ascending=False)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
7072,2013,1,9,641.0,900,1301.0,1242.0,1530,1272.0,HA,51,N384HA,JFK,HNL,640.0,4983,9,0,2013-01-09T14:00:00Z
235778,2013,6,15,1432.0,1935,1137.0,1607.0,2120,1127.0,MQ,3535,N504MQ,JFK,CMH,74.0,483,19,35,2013-06-15T23:00:00Z
8239,2013,1,10,1121.0,1635,1126.0,1239.0,1810,1109.0,MQ,3695,N517MQ,EWR,ORD,111.0,719,16,35,2013-01-10T21:00:00Z
327043,2013,9,20,1139.0,1845,1014.0,1457.0,2210,1007.0,AA,177,N338AA,JFK,SFO,354.0,2586,18,45,2013-09-20T22:00:00Z
270376,2013,7,22,845.0,1600,1005.0,1044.0,1815,989.0,MQ,3075,N665MQ,JFK,CVG,96.0,589,16,0,2013-07-22T20:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [18]:
# Solution 2
df.sort_values('dep_delay')

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
89673,2013,12,7,2040.0,2123,-43.0,40.0,2352,48.0,B6,97,N592JB,JFK,DEN,265.0,1626,21,23,2013-12-08T02:00:00Z
113633,2013,2,3,2022.0,2055,-33.0,2240.0,2338,-58.0,DL,1715,N612DL,LGA,MSY,162.0,1183,20,55,2013-02-04T01:00:00Z
64501,2013,11,10,1408.0,1440,-32.0,1549.0,1559,-10.0,EV,5713,N825AS,LGA,IAD,52.0,229,14,40,2013-11-10T19:00:00Z
9619,2013,1,11,1900.0,1930,-30.0,2233.0,2243,-10.0,DL,1435,N934DL,LGA,TPA,139.0,1010,19,30,2013-01-12T00:00:00Z
24915,2013,1,29,1703.0,1730,-27.0,1947.0,1957,-10.0,F9,837,N208FR,LGA,DEN,250.0,1620,17,30,2013-01-29T22:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

### Problem 2

Which flights travelled the farthest? Which travelled the shortest?

In [19]:
# Solution 1
df.sort_values('distance', ascending=False)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
50676,2013,10,26,1004.0,1000,4.0,1435.0,1450,-15.0,HA,51,N386HA,JFK,HNL,608.0,4983,10,0,2013-10-26T14:00:00Z
108078,2013,12,28,933.0,930,3.0,1520.0,1535,-15.0,HA,51,N384HA,JFK,HNL,633.0,4983,9,30,2013-12-28T14:00:00Z
100067,2013,12,19,924.0,930,-6.0,1450.0,1535,-45.0,HA,51,N386HA,JFK,HNL,609.0,4983,9,30,2013-12-19T14:00:00Z
179566,2013,4,16,953.0,1000,-7.0,1443.0,1510,-27.0,HA,51,N381HA,JFK,HNL,631.0,4983,10,0,2013-04-16T14:00:00Z
30229,2013,10,4,954.0,1000,-6.0,1438.0,1450,-12.0,HA,51,N380HA,JFK,HNL,618.0,4983,10,0,2013-10-04T14:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6972,2013,1,8,2127.0,2130,-3.0,2304.0,2225,39.0,EV,4619,N11194,EWR,PHL,30.0,80,21,30,2013-01-09T02:00:00Z
26874,2013,1,31,2129.0,2129,0.0,2234.0,2224,10.0,EV,3271,N13553,EWR,PHL,28.0,80,21,29,2013-02-01T02:00:00Z
164109,2013,3,30,1942.0,1950,-8.0,2026.0,2044,-18.0,EV,4457,N12569,EWR,PHL,24.0,80,19,50,2013-03-30T23:00:00Z
22334,2013,1,26,1621.0,1617,4.0,1705.0,1722,-17.0,EV,4616,N14153,EWR,PHL,27.0,80,16,17,2013-01-26T21:00:00Z
275945,2013,7,27,NaN,106,NaN,NaN,245,NaN,US,1632,NaN,EWR,LGA,NaN,17,1,6,2013-07-27T05:00:00Z

In [20]:
# Solution 2
df.sort_values('distance')

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
275945,2013,7,27,NaN,106,NaN,NaN,245,NaN,US,1632,NaN,EWR,LGA,NaN,17,1,6,2013-07-27T05:00:00Z
3083,2013,1,4,1240.0,1200,40.0,1333.0,1306,27.0,EV,4193,N14972,EWR,PHL,30.0,80,12,0,2013-01-04T17:00:00Z
16328,2013,1,19,1617.0,1617,0.0,1722.0,1722,0.0,EV,4616,N12540,EWR,PHL,34.0,80,16,17,2013-01-19T21:00:00Z
112178,2013,2,1,2128.0,2129,-1.0,2216.0,2224,-8.0,EV,4619,N13969,EWR,PHL,24.0,80,21,29,2013-02-02T02:00:00Z
19983,2013,1,23,2128.0,2129,-1.0,2221.0,2224,-3.0,EV,4619,N12135,EWR,PHL,23.0,80,21,29,2013-01-24T02:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99112,2013,12,18,928.0,930,-2.0,1543.0,1535,8.0,HA,51,N395HA,JFK,HNL,641.0,4983,9,30,2013-12-18T14:00:00Z
223207,2013,6,2,956.0,1000,-4.0,1442.0,1435,7.0,HA,51,N383HA,JFK,HNL,617.0,4983,10,0,2013-06-02T14:00:00Z
151311,2013,3,17,1006.0,1000,6.0,1607.0,1530,37.0,HA,51,N380HA,JFK,HNL,686.0,4983,10,0,2013-03-17T14:00:00Z
218562,2013,5,28,953.0,1000,-7.0,1447.0,1500,-13.0,HA,51,N385HA,JFK,HNL,631.0,4983,10,0,2013-05-28T14:00:00Z
289650,2013,8,11,950.0,1000,-10.0,1438.0,1440,-2.0,HA,51,N391HA,JFK,HNL,628.0,4983,10,0,2013-08-11T14:00:00Z

### Problem 3

Come up with 3 or more ways to select the `dep_time`, `dep_delay`, `arr_time`, and `arr_delay` columns from `df`.

*Hint.* You may find [this section on built-in Python string methods](https://realpython.com/python-strings/#built-in-string-methods) from [this *Real Python* article on strings and character data](https://realpython.com/python-strings/) useful.

In [21]:
# Solution 1
df[['dep_time', 'dep_delay', 'arr_time', 'arr_delay']]

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [22]:
# Solution 2
df[[c for c in df.columns if c.startswith('dep_') or c.startswith('arr_')]]

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

In [23]:
# Solution 3
df[[c for c in df.columns if c.find('dep_') == 0 or c.find('arr_') == 0]]

        dep_time  dep_delay  arr_time  arr_delay
0          517.0        2.0     830.0       11.0
1          533.0        4.0     850.0       20.0
2          542.0        2.0     923.0       33.0
3          544.0       -1.0    1004.0      -18.0
4          554.0       -6.0     812.0      -25.0
...          ...        ...       ...        ...
336771       NaN        NaN       NaN        NaN
336772       NaN        NaN       NaN        NaN
336773       NaN        NaN       NaN        NaN
336774       NaN        NaN       NaN        NaN
336775       NaN        NaN       NaN        NaN

[336776 rows x 4 columns]

### Problem 4

Create a list of all Southwest (WN) flights cancelled on December 10, 2013, departing from Newark (EWR). Sort the flights in order of scheduled arrival time. Drop the following columns: `dep_time`, `arr_time`, `dep_delay`, `arr_delay`, `air_time`, `time_hour`.

In [24]:
# Solution
(
    df
    .query('carrier == "WN" and month == 12 and day == 10 and origin == "EWR" and dep_time.isna()')
    .sort_values('sched_dep_time')
    .drop(columns=['dep_time', 'arr_time', 'dep_delay', 'arr_delay', 'air_time', 'time_hour'])
)

,year,month,day,sched_dep_time,sched_arr_time,carrier,flight,tailnum,origin,dest,distance,hour,minute
92423,2013,12,10,705,850,WN,1352,NaN,EWR,STL,872,7,5
92422,2013,12,10,1205,1330,WN,483,N401WN,EWR,MDW,711,12,5
92419,2013,12,10,1215,1445,WN,332,N401WN,EWR,DEN,1605,12,15
92421,2013,12,10,1245,1555,WN,1428,N935WN,EWR,HOU,1411,12,45
92418,2013,12,10,1315,1445,WN,2868,N709SW,EWR,BNA,748,13,15
92420,2013,12,10,1630,1935,WN,1289,N790SW,EWR,HOU,1411,16,30
92424,2013,12,10,1725,1915,WN,3069,N935WN,EWR,STL,872,17,25

### Problem 5

Create a table of all Delta (DL) flights in 2013 from JFK to LAX that arrived more than 180 minutes late, sorted in descending order of arrival delay. Select and rename the columns so that your table looks like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>airline</th>
      <th>flight number</th>
      <th>year</th>
      <th>month</th>
      <th>day</th>
      <th>delay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>152312</th>
      <td>DL</td>
      <td>2363</td>
      <td>2013</td>
      <td>3</td>
      <td>18</td>
      <td>784.0</td>
    </tr>
    <tr>
      <th>256516</th>
      <td>DL</td>
      <td>1163</td>
      <td>2013</td>
      <td>7</td>
      <td>7</td>
      <td>302.0</td>
    </tr>
    <tr>
      <th>258671</th>
      <td>DL</td>
      <td>2363</td>
      <td>2013</td>
      <td>7</td>
      <td>10</td>
      <td>284.0</td>
    </tr>
    <tr>
      <th>259397</th>
      <td>DL</td>
      <td>95</td>
      <td>2013</td>
      <td>7</td>
      <td>10</td>
      <td>274.0</td>
    </tr>
    <tr>
      <th>244507</th>
      <td>DL</td>
      <td>95</td>
      <td>2013</td>
      <td>6</td>
      <td>24</td>
      <td>259.0</td>
    </tr>
    <tr>
      <th>271972</th>
      <td>DL</td>
      <td>17</td>
      <td>2013</td>
      <td>7</td>
      <td>23</td>
      <td>224.0</td>
    </tr>
  </tbody>
</table>

In [25]:
# Solution
(
    df
    .query('(carrier == "DL") and (origin == "JFK") and (dest == "LAX") and (arr_delay > 180)')
    [['carrier', 'flight', 'year', 'month', 'day', 'arr_delay']]
    .sort_values('arr_delay', ascending=False)
    .rename(
        columns={
            'carrier': 'airline',
            'flight': 'flight number',
            'arr_delay': 'delay'
        }
    )
)

       airline  flight number  year  month  day  delay
152312      DL           2363  2013      3   18  784.0
256516      DL           1163  2013      7    7  302.0
258671      DL           2363  2013      7   10  284.0
259397      DL             95  2013      7   10  274.0
244507      DL             95  2013      6   24  259.0
271972      DL             17  2013      7   23  224.0

<hr style="border-top: 2px solid gray; margin-top: 1px; margin-bottom: 1px"></hr>

## Notes and sources

- From the [Pandas User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/):
    - [Basics of accessing columns of a DataFrame](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#basics)


- From the [Pandas API reference](https://pandas.pydata.org/docs/reference/index.html):
    - [`DataFrame.sort_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)
    - [`DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)
    - [`DataFrame.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)


- Lesson and problems inspired by Chapter 5 of [R for Data Science](https://r4ds.had.co.nz/)